<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__items">
                <div class="footer__item footer__item--map">
                    <a class="footer__link-map" href="https://goo.gl/maps/AD6g2TkDniJFm3z17">
                        <img class="footer__map-image" src="images/map.png" alt="Ул Цементная 8 Харьков 61020 Украина">
                    </a>
                </div>
                <div class="footer__item footer__item--info">
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">
                                Копинг
                            </a>
                        </li>
                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">
                                Террасная плитка
                            </a>
                        </li>
                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">
                                Коврик к бассейну
                            </a>
                        </li>
                    </ul>
                    <address class="footer__contacts">
                        <div class="footer__title">
                            Адрес:
                        </div>
                        <a class="footer__link footer__link--address" href="https://goo.gl/maps/AD6g2TkDniJFm3z17">Ул Цементная 8
                            Харьков
                            61020
                            Украина
                        </a>
                        <div class="footer__title">
                            Контакты: 
                        </div>
                        <a class="footer__link footer__link--tel" href="tel:+380989334777">+380989334777</a>
                        <a class="footer__link footer__link--tel" href="tel:+380669606041">+380669606041</a>
                        <a class="footer__link footer__link--mail" href="mailto:koping@kopingua.com">koping@kopingua.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</footer>